{% extends 'core/base.html' %}

{% block content %}
<div class=" container text-white mt-5">
    <h1 class="text-warning mb-5 border-bottom">SERVICES</h1>
    <div class="row text-center mb-5">
        <div class="col-sm-4">
            <i class="fas fa-search fa-2x mb-3 i-clor"></i>
            <h3>SEO</h3>
            <p class="st-clor">The iconic SVG, font, and CSS toolkit. Reliable. Content delivery at its finest. cdnjs is 
                a free and open-source CDN service trusted by over ...</p>
        </div>
        <div class="col-sm-4">
            <i class="fas fa-palette fa-2x mb-3 i-clor"></i>
            <h3>Web Design</h3>
            <p class="st-clor">The iconic SVG, font, and CSS toolkit. Reliable. Content delivery at its finest. cdnjs is 
                a free and open-source CDN service trusted by over ...</p>
        </div>
        <div class="col-sm-4">
            <i class="fas fa-code fa-2x mb-3 i-clor"></i>
            <h3>Web Development</h3>
            <p class="st-clor">The iconic SVG, font, and CSS toolkit. Reliable. Content delivery at its finest. cdnjs is 
                a free and open-source CDN service trusted by over ...</p>
        </div>
    </div>
    <div class="row text-center mb-5">
        <div class="col-sm-4">
            <i class="fas fa-search fa-2x mb-3 i-clor"></i>
            <h3>SEO</h3>
            <p class="st-clor">The iconic SVG, font, and CSS toolkit. Reliable. Content delivery at its finest. cdnjs is 
                a free and open-source CDN service trusted by over ...</p>
        </div>
        <div class="col-sm-4">
            <i class="fas fa-palette fa-2x mb-3 i-clor"></i>
            <h3>Web Design</h3>
            <p class="st-clor">The iconic SVG, font, and CSS toolkit. Reliable. Content delivery at its finest. cdnjs is 
                a free and open-source CDN service trusted by over ...</p>
        </div>
        <div class="col-sm-4">
            <i class="fas fa-code fa-2x mb-3 i-clor"></i>
            <h3>Web Development</h3>
            <p class="st-clor">The iconic SVG, font, and CSS toolkit. Reliable. Content delivery at its finest. cdnjs is 
                a free and open-source CDN service trusted by over ...</p>
        </div>
    </div>
    <div class="row text-center mb-5">
        <div class="col-sm-4">
            <i class="fas fa-search fa-2x mb-3 i-clor"></i>
            <h3>SEO</h3>
            <p class="st-clor">The iconic SVG, font, and CSS toolkit. Reliable. Content delivery at its finest. cdnjs is 
                a free and open-source CDN service trusted by over ...</p>
        </div>
        <div class="col-sm-4">
            <i class="fas fa-palette fa-2x mb-3 i-clor"></i>
            <h3>Web Design</h3>
            <p class="st-clor">The iconic SVG, font, and CSS toolkit. Reliable. Content delivery at its finest. cdnjs is 
                a free and open-source CDN service trusted by over ...</p>
        </div>
        <div class="col-sm-4">
            <i class="fas fa-code fa-2x mb-3 i-clor"></i>
            <h3>Web Development</h3>
            <p class="st-clor">The iconic SVG, font, and CSS toolkit. Reliable. Content delivery at its finest. cdnjs is 
                a free and open-source CDN service trusted by over ...</p>
        </div>
    </div>
</div>
</div>
{% endblock content %}